.cv-gen-wrapper {
    display: grid;
    grid-template-columns: 600px 1fr;
    
    width: 100%;
}

#top-level-headline {
    border-bottom: thin solid black;
    background: white;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.input-fields {
    text-align: left;
    display: block;
    background: rgb(229, 225, 235);
    padding: 3rem;

    max-width: 600px;
}

.name-field {
    display: block;
    margin-bottom: 0.5rem;
}
.name-label {
    display:inline-block;
    width: 10ch;
}

.titles {
    width: 50ch;
}
.summary-textarea {
    width: 400px;
    min-height: 110px;
    max-width: 90%;
}
.summary-text-output {
    text-align: left;
}

textarea {
    border: 2px solid black;
    border-radius: 6px;
    padding: 0.5rem;
}


#output>h2 {
    margin-top: 1rem;
    color: white;
}


#output-cv-container {
    position: sticky;
    top: 1rem;

    width: 720px;
    margin: 0 auto;
    margin-bottom: 2rem;

    font-size: 0.9rem;
}

.output-cv {
    padding: 3rem;
    background: white;
    border: thin solid #ccc;
}

.output-cv h2,
.output-cv h3,
.output-cv h4 
{
    margin-bottom: 0;
}

.summary-text-output {
    margin-top: 0;
}


.output-header,
.output-summary,
.output-skills,
.output-work-experience
{
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: thin solid #777;
}

@media print {
    #top-level-headline,
    #input,
    #output>h2 {
        display: none;
    }
    .output-cv {
        border: none;
    }
}