.reference-input ul {
    padding-left: 1.25rem;
    list-style-type: none;
    padding-left: 0;
}

.reference-header h3 {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
}

.reference-header div {
    display: inline-block;
}

.remove-button {
    display: inline-block;
}


.reference-inputs li {
    display: list-item;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: thin solid #ccc;
}

.reference-inputs label:first-of-type {
    display: inline-block;
}

.reference-inputs label {
    display: block;
    max-width: 40%;
}

.reference-inputs input {
    display: inline-block;
}
.reference-inputs span {
    margin-right: 1rem;
}